
/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

.inputbox{
  padding: 15px;
  width:20%;
  position:relative;
}

button{
  margin-top:10px;
  padding: 5px 10px;
  border-radius: 50 px;
}
table {
  margin-top: 5px;
  align-self: center;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid black;
}

th{
  background: yellow;
  align-items: center;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}
td {
  align-items: center;
  padding: 5px 60px;
  text-align: center;
  border: 1px solid black;
}
.success{
  border:1px solid black;
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(68, 177, 68);
  color:white;
}
.failure{
  border: 1px solid black;
  padding: 15px;
  color:white;
  border-radius: 8px;
  background-color: rgb(243, 71, 71);
}
